body{
    		background-color: whitesmoke;
            font-family: serif;
    	}
        #header{
            font-family: verdana;
        }

    	h2{
    		background-color:#2A293E;
    		color: white;
    		text-align: center;
    		padding: 10px;
            font-family: verdana;
        }

        h3{
            background-color:orange;
            color: black;
            text-align: center;
            padding: 5px;
            border-radius: 10px;
        }
head{
	color: red;
}
th{
    color: red;
}
a:hover{
    color: red;
}
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
 /* height: 300px; */
 /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column{
border:1px solid grey;
border-radius: 10px;
padding:10px;
margin:5px;
height: 100%;
margin-left:50px;
}
.column:hover{
cursor: pointer;
    box-shadow: 0 0 30px blue;
    }


/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .column {
  align:center;
  margin-left: 170px;
    width: 60%;
  }
}
/* style for flag and map of india of our india section*/
* {
  box-sizing: border-box;
}
img{
  border-radius: 5px;
  border: 2px solid grey;
}
iframe{
  border-radius: 5px;
  border: 2px solid grey;
}

/* Create three equal columns that floats next to each other */
.column1 {
  float: left;
  width: 20%;
  padding: 10px;
 height: 350px;
 width: 590px;
 /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}
.column1{
border:1px solid grey;
border-radius: 10px;
padding:10px;
margin:5px;
height: 100%;
margin-left:50px;
}
.column1:hover{
cursor: pointer;
    box-shadow: 0 0 30px red;
    }


/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .column1 {
   align:center;
   margin-left: 170px;
    width: 60%;
  }
}


    	